openapi: 3.2.0
info:
  title: Unifonic Voice Webhooks API
  description: The Unifonic Voice Call APIs provides a industry-leading experience for developers to programmatically trigger and control voice calls.
  version: 1.2.0
servers:
- url: https://voice.unifonic.com/v1
tags:
- name: Webhooks
paths:
  /providers/webhook:
    post:
      operationId: createsWebhook
      summary: Creates a Webhook
      description: This operation creates a Webhook for a particular voice application
      tags:
      - Webhooks
      parameters:
      - name: appsId
        description: applicationId found on Unifonic Console
        required: true
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=utf-8:
            schema:
              $ref: '#/components/schemas/Create_Webhook'
        description: payload for webhook creation. The url as specified will receive all of the call updates taking place on this voice application.
        required: true
      responses:
        '201':
          description: Created
components:
  schemas:
    Create_Webhook:
      type: object
      description: payload
      properties:
        url:
          type: string
          description: url to receive the webhook notifications
        basicAuthNeeded:
          type: boolean
          description: true or false
        username:
          type: string
          description: username for Base64
        password:
          type: string
          description: password for Base64
x-readme:
  explorer-enabled: true
  proxy-enabled: true
