openapi: 3.2.0
info:
  title: Unifonic Voice Call Queue Management API
  description: The Unifonic Voice Call APIs provides a industry-leading experience for developers to programmatically trigger and control voice calls.
  version: 1.2.0
servers:
- url: https://voice.unifonic.com/v1
tags:
- name: Call Queue Management
paths:
  /providers/queues/{queueName}:
    get:
      operationId: getSpecificQueue
      summary: Retrieves a specific call queue
      description: This operation retrieves the details in a specific call queue
      tags:
      - Call Queue Management
      parameters:
      - name: queueName
        description: the queue name where the queue details is to be retrieved
        required: true
        in: path
        schema:
          type: string
      - name: appsId
        description: applicationId found on Unifonic Console
        required: true
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json;charset=utf-8:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/QueuedCalls'
  /providers/queues/{queueName}/dequeue:
    post:
      operationId: dequeueFIFO
      summary: Dequeue the first caller in queue
      description: This operation creates a request to dequeue the caller who is currently the first in line towards another callerId which represents the service agent.
      tags:
      - Call Queue Management
      parameters:
      - name: redirectTo
        description: the callerId to redirect the call to
        required: true
        in: query
        schema:
          type: string
      - name: queueName
        description: Requested number of resources to be provided in response
        required: true
        in: path
        schema:
          type: string
      - name: appsId
        description: applicationId found on Unifonic Console
        required: true
        in: header
        schema:
          type: string
      responses:
        '201':
          description: Created
components:
  schemas:
    QueuedCalls:
      type: object
      properties:
        callId:
          type: string
          description: callId referencing this inbound call
        waitingTime:
          type: string
          example: '500'
          description: duration, in seconds, of the caller waiting in the queue
        position:
          type: string
          example: '1'
          description: position in the queue
        dateEnqueued:
          type: string
          example: Wed, 09 Mar 2022 09:08:42 +0000
          description: date and time when the call was added to queue
x-readme:
  explorer-enabled: true
  proxy-enabled: true
